header { 
    text-align: center; 
    font-style: italic; 
    font-size: large; 
    margin-right: 90px;  
  } 
   
      h1 { 
          color: beige; 
      } 
       
      body {background-image:url(taustakuva.jpg); 
          background-size: cover;  
          background-repeat: no-repeat; 
      } 
      .kalenteri {  
         
        padding: 10px;  
        margin: 5px;  
        width: 150px;  
        height: 100px;  
        display: inline-block;  
        text-align: center;  
        vertical-align: middle;  
        line-height: 100px;  
    }   
    .kalenteri { 
      text-align: center;  
      display: grid;  
      grid-template-columns: repeat(7, 1fr); /* 3 columns */  
      gap: 160px; /* Gap between slots */  
  }


  .luukku1 { background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-image: url(taustakuva.jpg), url(taustakuva.jpg);
    background-position: left, right; 
    background-size: cover; 
    background-repeat: no-repeat;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;


  }

  .luukku2sisalto { background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-image: url(taustakuva.jpg), url(taustakuva.jpg);
    background-position: left, right; 
    background-size: cover; 
    background-repeat: no-repeat;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    

  }

  .luukku3 { background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-image: url(taustakuva.jpg), url(taustakuva.jpg);
    background-position: left, right; 
    background-size: cover; 
    background-repeat: no-repeat;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;

  }