header { 
    text-align: center; 
    font-style: italic; 
    font-size: large; 
    margin-right: 90px;  
  } 
  
   
      h1 { 
          color: beige; 
      } 
       
      body {background-image:url(taustakuva.jpg); 
          background-size: cover;  
          background-repeat: no-repeat; 
      } 
      .kalenteri {  
         
        padding: 10px;  
        margin: 5px;  
        width: 150px;  
        height: 100px;  
        display: inline-block;  
        text-align: center;  
        vertical-align: middle;  
        line-height: 100px;  
    }   
    .kalenteri { 
      text-align: center;  
      display: grid;  
      grid-template-columns: repeat(7, 1fr); /* 3 columns */  
      gap: 160px; /* Gap between slots */  
  }


  .luukku1 { background-color: rgb(178, 247, 147);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-position: left, right; 
    background-size: cover; 
    background-repeat: no-repeat;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;


  }

  .luukku2 { background-color: rgb(178, 247, 147);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-position: left, right; 
    background-size: cover; 
    background-repeat: no-repeat;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    

  }

  .luukku3 { background-color: rgb(178, 247, 147);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-position: left, right; 
    background-size: cover; 
    background-repeat: no-repeat;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;

  }
.luukku4 { background-color: rgb(178, 247, 147);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: black;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: left, right; 
  background-size: cover; 
  background-repeat: no-repeat;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;

}



.luukku4 img {
  max-width: 100%; /* Ensure image does not exceed container width */
  height: auto; /* Maintain aspect ratio */
}

.luukku5 { background-color: rgb(178, 247, 147);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: black;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: left, right; 
  background-size: cover; 
  background-repeat: no-repeat;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;

}

.luukku5 img {
  max-width: 100%; /* Ensure image does not exceed container width */
  height: auto; /* Maintain aspect ratio */
}

.luukku6 { background-color: rgb(178, 247, 147);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: black;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: left, right; 
  background-size: cover; 
  background-repeat: no-repeat;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;

}

.luukku7 { background-color: rgb(178, 247, 147);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: black;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: left, right; 
  background-size: cover; 
  background-repeat: no-repeat;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;

}


.luukku8 { background-color: yellowgreen;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: left, right; 
  background-size: cover; 
  background-repeat: no-repeat;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;

}

.luukku9 { background-color: beige;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: left, right; 
  background-size: cover; 
  background-repeat: no-repeat;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;

}


.luukku10 { background-color: beige;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: left, right; 
  background-size: cover; 
  background-repeat: no-repeat;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;

}