header { 
    text-align: center; 
    font-style: italic; 
    font-size: large; 
    margin-right: 90px;  
  } 
   
      h1 { 
          color: beige; 
      } 
       
      body {background-image:url(_0f80dd2c-10b9-41ee-879e-9c104dc7b79a.jpg); 
          background-size: cover;  
          background-repeat: no-repeat; 
      } 
      .kalenteri {  
         
        padding: 10px;  
        margin: 5px;  
        width: 150px;  
        height: 100px;  
        display: inline-block;  
        text-align: center;  
        vertical-align: middle;  
        line-height: 100px;  
    }   
    .kalenteri { 
      text-align: center;  
      display: grid;  
      grid-template-columns: repeat(7, 1fr); /* 3 columns */  
      gap: 160px; /* Gap between slots */  
  }